# [generic]
*.log
**/tmp

# [c++]
*.o
*.obj
*.exe

# [qtcreator]
*.pro.user
*.stash
debug/
release/
Makefile
Makefile.Debug
Makefile.Release

# [msvc]
.vs/
*.exe.recipe
*.iobj
*.tlog
*.ipch
*.idb
*.pdb
*.ilk
*.suo
*.VC.db
*.db-*
*.opendb
*.filters
*.user
